pre{
    font-family: monospace;
    margin-left: 30px;
    background: #1c1e1f;
    padding: 10px;
}

h1 {
  font-weight: bold;
  font-size: 22px;
}

h2 {
  font-weight: bold;
  font-size: 14px;
}

.title{
    text-align: center;
    font-size: 32px;
}

.literal{
    color: #8ec1ec;
}
.name{
    color: #93c8f5;
}
.number{
    color: #096634;
}
.builtin, .double{
    color: #57aef9;
}
.keyword, .operator, .interpol{
    color: #d73c4b;
}
.variable{
    color: #663409;
}
.double {
    color: #93c8f5;
}
.comment{
    color: #7c848e;
}