<div class="menu">
  <img style="margin=10px;" height="100" src="res/tearch-logo-arch.svg">
  <p>
  <div class="menu">
    <a href="index.html">Home</a>
    <a href="https://github.com/tearch-linux/releases/releases">Download</a>
    <a href="screenshots.html">Screenshots</a>
    <a href="https://tearch-linux.github.io/documentation/">Documentation</a>
  </div>
</div>
